body {
    margin: 0;
    background-color: rgb(29, 29, 30);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 100vh;
    width: calc(100vw - 200px);
    height: calc(100vh - 400px);
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 20px;
}

.nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.nav a {
    color: rgb(144, 144, 144);
}